<html>
<head>
       <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
       <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css"/>
</head>
<body ng-app="cricketApp" ng-controller = "teamInputController">

	
	<script src="js/jquery.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/angular-route.js"></script>
	<!--<script src="js/app.js"></script>-->
	<script src="js/bootstrap.js"></script>

	<div class="container">
		<div class="page-header">
		  <h1>Cricket<small>Scores</small></h1>
		</div>
		<div class=" well">
			<div class="row col-lg-12">
				<label>Country</label>
				<input type="text" class="form-control" ng-model="country" placeholder="Country" />
			</div>
			<div class="row col-lg-12">
				<label>Colour</label>
				<input type="text" class="form-control" ng-model="colour" placeholder="Colour" />
			</div>
			<br/>
			<div class="row">
				<div class="col-lg-3  pull-left">
					<input type="button" value="Submit" ng-click="postTeam()" class="btn btn-primary" />
					<input type="button" value="Cancel" class="btn btn-primary" />
				</div>
			</div>
			{{country}}
		</div>
		<!--<div ng-view></div>-->
		<div class="well row col-lg-12">
			<table class="table">
				<thead>
					<tr>
						<th>S.No</th>
						<th>Team Name</th>
						<th>Team Color</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="team in teams">
						<td>{{team.id}}</td>
						<td>{{team.name}}</td>
						<td>{{team.color}}</td>
						<td><input type="button" class="btn" ng-click="deleteTeam(team.id)" > </td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

	<script>
	var app = angular.module('cricketApp',[]);


	app.config(function($httpProvider){
		$httpProvider.defaults.xsrfCookieName = 'csrftoken';
		$httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
	});


	app.controller("teamInputController", function($scope, $http) {
		
		$scope.country = "India";
		$scope.colour = "Blue";
		$scope.deleteTeam =  function(id){

			$http.post("http://localhost:8000/analysis/team/delete.json", id).success(function(data){
				alert(data);
				teamList();
			}).error(function(status){
				console.log(status);
			});
		}
		$scope.postTeam = function (){

			data = {
				"name":$scope.country,
				"color":$scope.colour
			};
			
			$http.post("http://localhost:8000/analysis/team/post.json", data).success(function(data){
				alert(data);
				teamList();
			}).error(function(status){
				console.log(status);
			});
		}

		teamList();
		function teamList(){
			$http.get("http://localhost:8000/analysis/teams.json").success(function(data){
				console.log(data);
				$scope.teams = data
			}).error(function(status){
				console.log(status);
			});
		}
	});
	</script>

</body>
</html>